@model  GEM.Models.TeamJourney

@{
    ViewBag.Title = "View Team Journey";
}


<section class="col-lg-12">

    <div class="container">

        <div class="col-lg-12 dashboardcontent memberarea">

            <div class="col-lg-12 right-links">

                <div class="col-lg-12 topbararea">
                    <img src="../images/team-menu-icon.png" alr="Team"> <h4 class="journeytitle"> Your Teams </h4>
                </div>

                <div class="row">

                    <div class="col-lg-12 teams-control">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion">
                                <input type="hidden" id="missionId" value="0" />
                                @if (Model != null && Model.Teams != null && Model.Teams.Count > 0)
                                {
                                    foreach (var team in Model.Teams)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@team.TeamId"> <img src='@string.Concat("../images/Team/team",team.TeamId,".png")'> @team.team.Name  <span> <img src="../images/add-icon.png" alt="+"> </span></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne_@team.TeamId" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                    <div class="col-lg-6 team-details">
                                                        @Html.Partial("ViewTeamMember", @team.team_journey_member.ToList())
                                                    </div>
                                                    @Html.Partial("Mission", @team.missions.ToList())
                                                </div>
                                            </div>
                                        </div> <!-- panel default 1 -->
                                    }
                                }
                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div> <!-- /1 dashboardbg -->
</section>

<script src="../Scripts/Team/Team.js" type="text/jscript"></script>
<script type="text/javascript">
    var sessionId = '@Session["LoginMemberID"]';
    var _TeamDet = new TeamDet(sessionId);
    _TeamDet.Load();
</script>