@model  List<GEM.Models.team_journey_member>

<ul class="team-member-list">
    @if (Model.Count > 0)
    {
        int leaderId = 0;
        foreach (var member in Model)
        {
            if (member.TeamJourneyMemberRoleId == 1)
            {
                leaderId = member.MemberId.Value;
                <li> <img src="../images/man(1).png" width="36" height="36"> @member.member.EmailAddress <span> <p> Leader </p> @*<a href=""><img src="../images/remove.png" width="16" height="16"> </a>*@</span> </li>
            }
            else
            {
                <li>
                    <img src="../images/man(1).png" width="36" height="36"> @member.member.EmailAddress <span>
                        @if (Session["LoginMemberID"].ToString() == leaderId.ToString())
                        {
                            <p> <a href="#" onclick="MemberProcess('../Journey/MakeLeader', @member.TeamJourneyMemberId);">Make Leader</a> </p> <a href="#" onclick="MemberProcess('../Journey/RemoveMember', @member.TeamJourneyMemberId);"><img src="../images/remove.png" width="16" height="16"> </a>
                        }
                        else if (Session["LoginMemberID"].ToString() == member.MemberId.Value.ToString())
                        {
                            <p> <a href="#" onclick="MemberProcess('../Journey/RemoveMember', @member.TeamJourneyMemberId);">Leave Team</a> </p> <a href="#" onclick="MemberProcess('../Journey/RemoveMember', @member.TeamJourneyMemberId);"><img src="../images/remove.png" width="16" height="16"> </a>
                        }
                        else
                        {
                            <p> Member </p>
                        }
                    </span>
                </li>
            }
        }

        if (Session["LoginMemberID"].ToString() == leaderId.ToString())
        {
            <li class="add-new-member"> <img src="../images/add-avathar-icon.png" width="32" height="32"> <i> Add Member </i></li>

            <span class="start-button-cls"> 
                <input type="submit" class="start-btn btnStartJourney" Id="btnStartJourney" value="Start Journey">
            </span>
        }
    }
</ul>

<script>
    function MemberProcess(url, tjmemberId) {
        $.ajax({
            url: url,
            type: 'get',
            cache: false,
            data: { tjmemberid: tjmemberId },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '../Journey/Index';
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                window.location.href = '../Journey/Index';
            }
        });
    }
</script>