@model  GEM.Models.Mission_Info
@{
    ViewBag.Title = "Mission";
}

<link rel="stylesheet" href="~/Content/datetime/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="~/Content/datetime/jquery.timepicker.min.css" />
<link rel="stylesheet" href="~/Content/datetime/jquery-clockpicker.min.css" />
<script type="text/javascript" src="~/Scripts/datetime/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/datetime/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/datetime/jquery-clockpicker.min.js"></script>
<script src="~/Scripts/Mission/Mission.js" type="text/jscript"></script>
<section class="col-lg-12">
    <div class="container">

        <div class="col-lg-12 dashboardcontent">

            <div class="col-lg-8 center-secondarylinks start-mission">

                <div class="col-lg-12 topbararea missionteam">

                    @if (@Model.teams.JourneyId == 1)
                    {
                        <img src="../images/jedi-icon.png" alr="J">
                        <h4 class="journeytitle"> Delivery Team - # Deliver Value to Customer </h4>
                    }
                    else if (@Model.teams.JourneyId == 2)
                    {
                        <img src="../images/rebel-icon.png" alr="J">
                        <h4 class="journeytitle"> Product Team - # Vision to Challange the Norm </h4>
                    }
                    else if (@Model.teams.JourneyId == 3)
                    {
                        <img src="../images/gaurdians-icon.png" alr="J">
                        <h4 class="journeytitle"> Enterprise Team - # Protectors and Gaurdians of Value </h4>
                    }
                    else
                    {
                        <img src="../images/galactica-icon.png" alr="J">
                        <h4 class="journeytitle"> Strategy Team - # Guides Strategy and Value </h4>
                    }
                </div>

                <div class="col-lg-12 missionhead">
                    <h3> @Model.fluencyname <span>[ Fluency Level 1 ]</span> </h3>
                    <input id="hfldTeamJourneyID" value="@Model.teams.TeamJourneyId" type="hidden">
                </div>

                <div class="col-lg-12 mission-practices" id="divPractice">

                    @if (Model.practiceList.Count > 0)
                    {

                        for (int i = 0; i <= Model.practiceList.Count - 1; i++)
                        {
                            <div class="col-lg-2 practiceblock " id="@Model.practiceList[i].PracticeId" onblur="SelectdPractice(@Model.practiceList[i].PracticeId)" onclick="SelectdPractice(@Model.practiceList[i].PracticeId)">
                                <span class="img-block">
                                    <input id="chk_@Model.practiceList[i].PracticeId" type="checkbox" class="active-check">
                                    <img src="@string.Concat("../images/practice",Model.practiceList[i].PracticeId,".png") " alt="calendar">
                                    <h4> @Model.practiceList[i].Name </h4>
                                </span>
                            </div>
                        }
                    }

                </div>

                <div class="col-lg-12 startend-mission">
                    <form name="datetime" method="post" action="">

                        <div class="col-lg-5 datetimeselect">
                            <div class="input-group team-group">
                                <label name="sdatetime"> Start Date </label>
                                <input class="form-control" id="dateStartdate" name="date" placeholder="MM/DD/YYYY" type="text" readonly="readonly" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="../images/calander.png"></span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-7 datetimeselect">
                            <div class="input-group team-group">
                                <label name="sdatetime"> End Date and Time </label>
                                <span class="col-lg-8 selectdate">
                                    <input class="form-control" id="dateEnddate" name="date" placeholder="MM/DD/YYYY" type="text" readonly="readonly" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><img src="../images/calander.png"></span>
                                    </div>
                                </span>
                                <span class="col-lg-4 selecttime">
                                    <input type="text" id="timeEndtime" name="time" class="form-control timepicker" placeholder="" aria-label="time" value="00:00:00" readonly="readonly">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><img src="../images/time.png"></span>
                                    </div>
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="input-group create-team-btn-bg">
                    <input type="submit" id="btncreateMission" class="form-control create-team-btn" placeholder="" value="Away we go" aria-label="create-team">
                </div>

            </div>

            <div class="col-lg-4 right-links">

                <div class="col-lg-12 topbararea">
                    <img src="../images/team-menu-icon.png" alr="Team"> <h4 class="journeytitle"> Teams </h4>
                </div>

                <div class="row">

                    <div class="col-lg-12 teams-control">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"
                                            <img src="../images/rocket.png"> @Model.teams.team.Name
                                        </h4>
                                    </div>
                                    <div id="collapseOne_@Model.teams.TeamId" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            @Html.Partial("TeamMember", @Model.teams.team_journey_member.ToList())
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div> <!-- /1 dashboardbg -->
    </div>
</section>

<script type="text/javascript">

    var _Mission = new Mission(hfldTeamJourneyID.value);
    _Mission.Load();

</script>

<script>
    jQuery(document).ready(function () {

        jQuery('.navbar-toggle').click(function () {
            jQuery('.navbar-right').toggle();
        });
    });
</script>

<script>

    jQuery(document).ready(function () {

        jQuery('.navbar-toggle').click(function () {
            jQuery('.navbar-right').toggle();
        });
    });

    function myFunction() {
        var x = document.getElementById("timeEndtime").defaultValue;
        document.getElementById("demo").innerHTML = x;
    }

    function SelectdPractice(id) {
        var str= $("#"+id).attr("class");
        if(str.indexOf("active") != -1)
        {
            $("#" + id).removeClass("active");
            $('#chk_' + id).prop('checked', '')
        }
        else{
            $("#" + id).addClass("active");
            $('#chk_' + id).prop('checked', 'true')
        }
    }

</script>

<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})

		$('input.timepicker').timepicker({
		    timeFormat: 'hh:mm p',
		    // year, month, day and seconds are not important
		    minTime: new Date(0, 0, 0, 0, 1, 0),
		    maxTime: new Date(0, 0, 0, 23, 59, 0),
		    startTime: new Date(0, 0, 0, 0, 0, 0),
		    interval: 30,
		});

		//var input = $('#timeEndtime');
		//input.clockpicker({
		//    autoclose: true
		//});
	})
</script>
