@model List<GEM.Models.mission>

@{
    ViewBag.Title = "View Observations";
}
<script src="~/Scripts/Team/Team.js" type="text/jscript"></script>
@if (Model != null && Model.Count > 0)
{
        <section class="col-lg-12">

            <div class="container">

                <div class="col-lg-12 dashboardcontent memberarea">

                    <div class="col-lg-12 right-links">

                        <div class="col-lg-12 topbararea panel-title">
                            <img src='@string.Concat("../images/Journey/journey_",Model[0].Journey.JourneyId,".png")' alr="Journey"> <h4 class="journeytitle"> @Model[0].Journey.Name </h4> 
                        </div>
                  
                        @foreach (var mission in Model)
                        {
                            <div >

                             <h4 class="panel-title" @*style="float: left; width: 100%; position: relative; top: -40px; text-align: left; left: 80px;"*@ style="border-bottom:"> 
                                 <img src='@string.Concat("../images/Team/team",mission.Team.TeamId,".png")' style="width: 36px; height: 36px;">  @mission.Team.Name </h4>

                                <div class="row">
                                    <input type="hidden" id="missionId" value="@mission.MissionId" />
                                    <input type="hidden" id="memberId" value="@Session["LoginMemberID"].ToString()" />
                                    <div class="col-lg-12 teams-control">

                                        <div class="bs-example">
                                            <div class="panel-group" id="accordion">
                                                @foreach (var practice in mission.MissionPractice)
                                                {
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <img src='@string.Concat("../images/Practice/practice",practice.practice.PracticeId,".png")' style="width: 36px; height: 36px; background-color:white; border-radius:inherit; border:none;"> @practice.practice.Name @*<i> [ @practice.practice.fluency_level.ShortName ]</i>*@
                                                            </h4>

                                                            <div class="col-lg-12 team-details">
                                                                <div class="rating-content">
                                                                    <ul class="rating-list">
                                                                        @for (int i = 0; i < practice.practice.measures.Count; i++)
                                                                        {
                                                                            var assessmentId = 0;
                                                                            var assessment = 0;
                                                                            var measure = practice.practice.measures[i];
                                                                            string classname = "even", thumbsUp = "", thumbsDown = "", thumbsSideway = "";
                                                                            if (i % 2 == 0) { classname = "odd"; }

                                                                            if (measure.mission_member_measure_assesment.Count > 0)
                                                                            {
                                                                                assessmentId = measure.mission_member_measure_assesment[0].MissionAssesmentId;

                                                                                assessment = measure.mission_member_measure_assesment[0].Assesment;
                                                                                if (assessment.Equals(5)) { thumbsUp = "active"; }
                                                                                else if (assessment.Equals(1)) { thumbsDown = "active"; }
                                                                                else if (assessment.Equals(3)) { thumbsSideway = "active"; }
                                                                            }

                                                                            <li class="@classname">
                                                                                <span class="rating-item"> @(i + 1) . @measure.Measure1</span>
                                                                                <span class="rating-icons practice_@practice.MissionPracticeId">
                                                                                    <input type="hidden" id='@string.Concat("Assessment_",@measure.MeasureId,"_",@practice.MissionPracticeId)' value="@assessmentId" />
                                                                                    @if (assessment == 5)
                                                                                    {
                                                                                        <span class="rating-icons1"><a href="#" id='@string.Concat("thumbs1_",@measure.MeasureId,"_",@practice.MissionId)' class="fa fa-thumbs-up @thumbsUp" style="font-size:22px"></a></span>
                                                                                        <span class="rating-icons2"><a href="#" id='@string.Concat("thumbs2_",@measure.MeasureId,"_",@practice.MissionId)' class="fa fa-thumbs-down @thumbsSideway" style="font-size:22px"></a></span>
                                                                                        <span class="rating-icons3"><a href="#" id='@string.Concat("thumbs3_",@measure.MeasureId,"_",@practice.MissionId)' class="fa fa-thumbs-down @thumbsDown" style="font-size:22px"></a></span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span class="rating-icons1"><a href="#" id='@string.Concat("thumbs1_",@measure.MeasureId,"_",@practice.MissionId)' onclick="vote('@string.Concat(@measure.MeasureId,"_",@practice.MissionId)', 1);" class="fa fa-thumbs-up @thumbsUp" style="font-size:22px"></a></span>
                                                                                        <span class="rating-icons2"><a href="#" id='@string.Concat("thumbs2_",@measure.MeasureId,"_",@practice.MissionId)' onclick="vote('@string.Concat(@measure.MeasureId,"_",@practice.MissionId)', 2);" class="fa fa-thumbs-down @thumbsSideway" style="font-size:22px"></a></span>
                                                                                        <span class="rating-icons3"><a href="#" id='@string.Concat("thumbs3_",@measure.MeasureId,"_",@practice.MissionId)' onclick="vote('@string.Concat(@measure.MeasureId,"_",@practice.MissionId)', 3);" class="fa fa-thumbs-down @thumbsDown" style="font-size:22px"></a></span>
                                                                                    }
                                                                                </span>
                                                                            </li>
                                                                        }

                                                                    </ul>
                                                                    <div class="mission-member-buttons col-md-12">
                                                                        <div class="row">
                                                                            <div class="review-submit-content">
                                                                                @if (practice.practice.measures[0].mission_member_measure_assesment.Count == 0)
                                                                                {
                                                                                    <input type="button" id="btnSubmit_@practice.MissionPracticeId" onclick="submitObservation(@practice.MissionPracticeId,@practice.MissionId );" class="btn btn-primary review-submission" value="Submit" />
                                                                                    <input type="button" id="@practice.MissionPracticeId" class="btn btn-danger review-submission RejectionModal" value="Decline" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="button" style="margin-right: 53px;" id="btnSubmit_@practice.MissionPracticeId" onclick="submitObservation(@practice.MissionPracticeId,@practice.MissionId );" class="btn btn-primary review-submission" value="Submit" />
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div> <!-- panel default 1 -->

                                                    <div id="rejectionModal_@practice.MissionPracticeId" class="modal fade">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title"> <img src="../images/rocket.png"> Form Delivery Team </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-md-12 clspracticedesc rejectionform">
                                                                        <h4> Please enter the reason for rejection: </h4>
                                                                        <textarea name="reason" id="rejectReason_@practice.MissionPracticeId" class="rejection-text" placeholder="Enter the reason"> </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                    <input type="button" id="btnDecline_@practice.MissionPracticeId" onclick="declineObservation(@practice.MissionPracticeId,@practice.MissionId);" class="btn btn-primary review-submission" value="Submit" />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        }

                    </div>

                </div> <!-- /1 dashboardbg -->

                <div id="myMemberModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">  @Model[0].Journey.Name </h4>
                            </div>
                            <div class="modal-body">

                                <div class="col-md-12 clsmissionduration">
                                    <h4> Team Name: <span> @Model[0].Team.Name </span> </h4>
                                    <h4> Start Date: <span> @Model[0].StartDate.ToShortDateString() </span> </h4>
                                    <h4> End Date: <span> @Model[0].EndDate.ToString() </span> </h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="accept-practice-btn" class="btn btn-primary">Accept</button>
                                <button id="reject-practice-btn" type="submit" class="btn btn-danger">Decline</button>
                            </div>

                        </div>
                    </div>
                </div>

        </section>

}
<script>
    var sessionId = '@Session["LoginMemberID"]';
    var _TeamDet = new TeamDet(sessionId);
    _TeamDet.Load();
</script>
