@model  GEM.Models.mission

@{
    ViewBag.Title = "View Practice";
}

@if (Model != null)
{
    <section class="col-lg-12">

        <div class="container">

            <div class="col-lg-12 dashboardcontent memberarea">

                <div class="col-lg-12 right-links">

                    <div class="col-lg-12 topbararea">
                        <img src="../images/rocket.png" alr="Team"> <h4 class="journeytitle"> @Model.team.Name </h4>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 teams-control">

                            <div class="bs-example">
                                <div class="panel-group" id="accordion">
                                    @foreach (var practice in Model.mission_practice)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@practice.practice.PracticeId"> <img src="../images/rocket.png"> @practice.practice.Name <i> [ @practice.practice.fluency_level.ShortName ]</i><span> <img src="../images/add-icon.png" alt="+"> </span></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne_@practice.practice.PracticeId" class="panel-collapse collapse" style="width: 100%;">
                                                <div class="panel-body">

                                                    <div class="col-lg-12 team-details">
                                                        <div class="rating-content">
                                                            <ul class="rating-list">
                                                                @for (int i = 0; i < practice.practice.measures.Count; i++)
                                                                {
                                                                    var classname = "even";
                                                                    if (i % 2 == 0)
                                                                    {
                                                                        classname = "odd";
                                                                    }
                                                                    if (i == 0)
                                                                    {
                                                                        <li class="@classname">
                                                                            <span class="rating-item"> @(i + 1) . @practice.practice.measures[i].Measure1</span>
                                                                            <span class="rating-icons">
                                                                                <span class="rating-icons1" ><a href="#"><i class="fa fa-thumbs-up active" style="font-size:24px"></i></a></span>
                                                                                <span class="rating-icons2" ><a href="#"><i class="fa fa-thumbs-down" style="font-size:24px"></i></a></span>
                                                                                <span class="rating-icons3" ><a href="#"><i class="fa fa-thumbs-down" style="font-size:24px"></i></a></span>
                                                                            </span>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div> <!-- panel default 1 -->

                                    }

                                    <div class="mission-member-buttons col-md-12">
                                        <div class="row">
                                            <div class="review-submit-content">
                                                <button type="submit" class="btn btn-primary review-submission">submit Review</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div> <!-- /1 dashboardbg -->


            <div id="myMemberModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> <img src="../images/rocket.png"> Form Delivery Team </h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 clspracticedesc">
                                <h4> Description: </h4>
                                <p>Vestibulum ultrices blandit quam. Phasellus ex nunc, vulputate sed dignissim eget, vehicula non ipsum. Suspendisse fermentum lacus magna. Fusce vel malesuada ex. Fusce rutrum libero ut ligula tristique, quis posuere urna maximus. Fusce commodo commodo varius. Cras tincidunt feugiat congue. </p>
                            </div>
                            <div class="col-md-12 clsmissionduration">
                                <h4> Start Date: <span> 12/12/2018 </span> </h4>
                                <h4> End Date: <span> 17/12/2018 </span> </h4>
                            </div>
                            <a class="gff-base-link" href="#"> More info from GFF Base </a>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                            <button type="submit" class="btn btn-primary">Accept Mission</button>
                            <button id="reject-practice-btn" type="submit" class="btn btn-danger">Reject Mission</button>
                        </div>

                    </div>
                </div>
            </div>


            <div id="rejectionModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> <img src="../images/rocket.png"> Form Delivery Team </h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 clspracticedesc rejectionform">
                                <h4> Please enter the reason for rejection: </h4>
                                <textarea name="reason" class="rejection-text" placeholder="Enter the reason"> </textarea>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </div>
            </div>

    </section>

    <script>
        debugger;
        Span1.onclick = function () {
            this.innerHTML = '';
            aler('Hi');
        };
        function addClass(obj) {
            obj.className ? obj.className = "" : obj.className = "test";
        }
    </script>
}
